@font-face {
  font-family: "pixel";
  src: url("./assets/fonts/pixel-unicode-webfont.woff") format("woff");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: pixel;
}

canvas {
  display: block;
}

#help-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 12px 12px 0;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

#h-key {
  content: url("./assets/img/H.png");
  width: 28px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #adadad;
  margin: 0 3px;
  margin-bottom: -4px;
}
